#map{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
#cursor{
  display: inline-block;
  position: absolute;;
  right: 10px;
  top: 8px;
  z-index: 1;
  visibility: hidden;
  padding:0;
}
button{
  width: 300px;
  height: 100px;
  background-color: #f44336 ;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  font-family: Signika;
  color: white;
  position: absolute;
  right: 44%;
  border: solid red;
  border-radius: 10px;

  transition:  ease-in-out all 1000ms;

}
button:hover{
  color:#f44336;
  background-color: white;
  border: solid #f44336;

  transform: translate(0px, -80px);

}
.header {
  background-color: #f44336;
  padding: 10px 16px;
  color: #f1f1f1;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
}
